<h1>Movies#index</h1>
<h1> <%= link_to "submit a new movie", new_movie_path %> </h1> 
<hr>
<h4>Search</h4>
<%= form_tag movies_path, method: "get" do %>
 
    <%= label_tag "title" %>
    <%= text_field_tag "title" %>
  

    <%= label_tag "director" %>
    <%= text_field_tag "director" %>

  <%= label_tag "Runtime" %>
  <%= select_tag "runtime",     options_for_select([["Select one", "" ],
                                                    ["Under 90 minutes", "1" ], 
                                                    ["Between 90 and 120 minutes","2"],
                                                    ["Over 120 minutes", "2"]]) %>

  <%= submit_tag "Search" %>
<% end %>


<hr> 

<% @movies.each do |movie| %> 

  <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %> 
    <h2><%= link_to movie.title, movie_path(movie) %> </h2>
    <h3> <%= movie.release_date %> </h3>
    <h4>Director: <%= movie.director %>  </h4>
    <h4> Minutes: <%= movie.runtime_in_minutes %>  </h4>

    <p> <%= movie.description %> </p>
     <%= image_tag movie.image_url(:thumb).to_s %> 
<hr>
  <% end %>



  <p> movie average : </p>
  <%= @movie && @movie.review_average %>/10

  <% if session[:user_id] && User.find(session[:user_id]).admin %>
    <%= link_to "Admin", admin_users_path %>

  <% end %> 

