<table border="1">
<tr>
<th>first name</th>
<th>last name </th>
<th> email </th>
<th> admin status </th>
</tr>
<tbody>
<% @users && @users.each do |user| %>
<tr>
  <td> <%= user.firstname %></td>
  <td> <%= user.lastname %></td>
  <td> <%= user.email %> </td>
  <td> <%= user.admin %> </td>
  <td> <%= link_to "delete", admin_user_path(user.id), method: :delete, confirm: "You sure?" %>) </td>
</tr>
<% end %> 
</tbody>
</table>
 <%= paginate(@users) %>